<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Form</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="form-container">
        <h2>Input Form</h2>
        <form action="/submit/" method="post">
            {% csrf_token %}
            <label for="input1">Input 1:</label>
            <input type="text" id="input1" name="input1" required>

            <label for="input2">Input 2:</label>
            <input type="text" id="input2" name="input2" required>

            <label for="input3">Symbol: </label>
            <input type="text" id="input3" name="input3" required>

            <button type="submit">Submit</button>
        </form>
    </div>
    
</body>
</html>
